<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <script src="/javascript/availableSlotFiltering.js"></script>
  <link rel="stylesheet" href="/css/table.css">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('appointmentTypeForm');

      // Restore form values from localStorage if available
      if (localStorage.getItem('formValues')) {
        const storedValues = JSON.parse(localStorage.getItem('formValues'));
        populateForm(storedValues);
      }

      form.addEventListener('submit', function (event) {


        // Retrieve the form field values
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        const researcherName = document.getElementById('researcherName').value;
        const psychologistName = document.getElementById('psychologistName').value;
        const roomName = document.getElementById('roomName').value;
        const appointmentNumber = document.getElementById('appointmentNumber').value;

        // Store the form values in localStorage
        const formValues = {
          startDate: startDate,
          endDate: endDate,
          appointmentNumber: appointmentNumber,
          psychologistName: psychologistName,
          roomName: roomName,
          researcherName: researcherName
        };
        localStorage.setItem('formValues', JSON.stringify(formValues));

        // Update the form field values
        populateForm(formValues);

        // Perform form submission if needed
        // form.submit();
      });

      function populateForm(values) {
        document.getElementById('startDate').value = values.startDate || '';
           document.getElementById('endDate').value = values.endDate || '';
        document.getElementById('appointmentNumber').value = values.appointmentNumber || '';
        document.getElementById('psychologistName').value = values.psychologistName || '';
        document.getElementById('researcherName').value = values.researcherName || '';
        document.getElementById('roomName').value = values.roomName || '';
      }
    });
  </script>
</head>

<body>
  <h1>Appointment Availability</h1>

  <h2>Choose Appointment Details</h2>
  
  <form id="appointmentTypeForm">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate">

    <label for="appointmentNumber">Appointment Number:</label>
    <input type="number" id="appointmentNumber" name="appointmentNumber">


    <label for="psychologistName">Psychologist Name:</label>
    <select id="psychologistName" name="psychologistName">
      <option value="">Select Psychologist</option>
      {{#each dropDownOptions.psychologistNames}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <label for="roomName">Room Name:</label>
    <select id="roomName" name="roomName">
      <option value="">Select Room</option>
      {{#each dropDownOptions.roomNames}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <label for="researcherName">Researcher Name:</label>
    <select id="researcherName" name="researcherName">
      <option value="">Select Researcher</option>
      {{#each dropDownOptions.researcherNames}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    

    <button type="submit">Update Slots</button>
  </form>

  <h2>Available Slots</h2>

  <table>
    <thead>
      <tr>
        <th>Bookable Thing ID</th>
        <th>Name</th>
        <th>Resource Type</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each availableSlots}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{formatTime start_time}}</td>
        <td>{{formatTime end_time}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</body>

</html>