<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/form2.css">

  <script>
    
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('appointmentTypeForm');

      // Restore form values from localStorage if available
      if (localStorage.getItem('formValues')) {
        const storedValues = JSON.parse(localStorage.getItem('formValues'));
        populateForm(storedValues);
      }

      form.addEventListener('submit', function (event) {


        // Retrieve the form field values
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        const researcherName = document.getElementById('researcherName').value;
        const psychologistName = document.getElementById('psychologistName').value;
        const roomName = document.getElementById('roomName').value;
        const appointmentNumber = document.getElementById('appointmentNumber').value;
        const participantNumber = document.getElementById('participantNumber').value;
        

        // Store the form values in localStorage
        const formValues = {
          startDate: startDate,
          endDate: endDate,
          appointmentNumber: appointmentNumber,
          participantNumber: participantNumber,
          psychologistName: psychologistName,
          roomName: roomName,
          researcherName: researcherName,

        };
        localStorage.setItem('formValues', JSON.stringify(formValues));

        // Update the form field values
        populateForm(formValues);


        // Perform form submission if needed
        // form.submit();
      });

      function populateForm(values) {
        document.getElementById('startDate').value = values.startDate || '';
        document.getElementById('endDate').value = values.endDate || '';
        document.getElementById('participantNumber').value = values.participantNumber;
        document.getElementById('appointmentNumber').value = values.appointmentNumber || '';
        document.getElementById('psychologistName').value = values.psychologistName || '';
        document.getElementById('researcherName').value = values.researcherName || '';
        document.getElementById('roomName').value = values.roomName || '';
      }
    });

    //select all cards, populate with participant number
  </script>
</head>

<body>
  <h1>Find an available appointment</h1>

  <h2>Enter Appointment Details</h2>

  <form id="appointmentTypeForm">
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" name="startDate">
    </div>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" name="endDate">
    </div>

    <div class="form-group">
      <label for="participantNumber">Participant</label>
      <select id="participantNumber" name="participantNumber">
        <option value="">Select Participant</option>
        {{#each participant_ids}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="appointmentNumber">Appointment</label>
      <select id="appointmentNumber" name="appointmentNumber">
        <option value="">Select Appointment</option>
        {{#each appointment_numbers}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="psychologistName">Psychologist</label>
      <select id="psychologistName" name="psychologistName">
        <option value="">Select Psychologist</option>
        {{#each dropDownOptions.psychologistNames}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="roomName">Room</label>
      <select id="roomName" name="roomName">
        <option value="">Select Room</option>
        {{#each dropDownOptions.roomNames}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="researcherName">Researcher</label>
      <select id="researcherName" name="researcherName">
        <option value="">Select Researcher</option>
        {{#each dropDownOptions.researcherNames}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group button">
      <button type="submit"><strong>Find Slots</strong></button>
    </div>
  </form>

  <h2>Available Slots</h2>


  <div class="card-container">
    {{#each formattedTimeSlotsWithAppointmentNumberLogic}}
    <div class="card">
      <div class="card-header">
        <h3>Appointment Details</h3>
      </div>
      <div class="card-body">
        <p><strong>Appointment Number:</strong> <span>{{appointmentNumber}}</span></p>
        <p><strong>Participant Number:</strong> <span id="participant-number"></span></p>

        <p><strong>Date:</strong> <span>{{getDate startTime}}</span></p>
        <p><strong>Start Time:</strong> <span id="start-time">{{getTime startTime}}</span></p>
        <p><strong>End Time:</strong> <span id="end-time">{{getTime endTime}}</span></p>
        <p><strong>Researcher:</strong> <span id="researcher-name">{{researcherName}}</span></p>
        <p><strong>Psychologist:</strong> <span id="psychologist-name">{{psychologistName}}</span></p>
        <p><strong>Room:</strong> <span id="room-name">{{roomName}}</span></p>
        <p><strong>Nurse:</strong> <span id="nurse-name">{{nurseName}}</span></p>

        <button class="book-button" data-start-time="{{startTime}}" data-end-time="{{endTime}}"
          data-researcher-name="{{researcherName}}" data-psychologist-name="{{psychologistName}}"
          data-room-name="{{roomName}}" data-nurse-name="{{nurseName}}">Book</button>
      </div>

    </div>
    {{/each}}
  </div>

  <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel"
    hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingModalLabel">Booking Summary</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Appointment Number:</strong> <span id="appointmentNumberModal"></span></p>
          <p><strong>Participant Number:</strong> <span id="participantNumberModal"></span></p>
          <p><strong>Start Time:</strong> <span id="startTimeModal"></span></p>
          <p><strong>End Time:</strong> <span id="endTimeModal"></span></p>
          <p><strong>Researcher:</strong> <span id="researcherNameModal"></span></p>
          <p><strong>Psychologist:</strong> <span id="psychologistNameModal"></span></p>
          <p><strong>Room:</strong> <span id="roomNameModal"></span></p>
          <p><strong>Nurse:</strong> <span id="nurseNameModal"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="confirmBookingBtn">Confirm Booking</button>
          <button type="button" class="btn btn-secondary" id="closeButton" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascript/modal.js"></script>

</body>

</html>